<template>
  <div id="timeline" class="container">
    <span v-if="records.length">{{`${currentRecordIDX + 1} / ${records.length}`}} </span>
    <span v-if="isFetching">...</span>
    <div class="person-name">{{record.name}}</div>

    <div v-for="(time, idx) in timeline" class="tm-container">
      <div class="tm-century">
        <div class="tm-begin">{{Number(time[0]) < 0 
          ? `${Math.abs(time[0])} BC` 
          : `${time[0]} AD` }}
        </div>
        <div v-for="(decade, index) in time" class="decade">
          <span class="decade-pointer">
            <transition name="slide-fade">
              <span v-if="timeline_range.includes(decade)" class="decade-pointer-indicator" :key="record.name"></span>
            </transition>
          </span>
        </div>
        <div class="tm-end">{{Number(time[time.length - 1]) < 0 
          ? `${Math.abs(time[time.length - 1])} BC` 
          : `${time[time.length - 1]} AD`}}
        </div>
      </div>
    </div>

  </div>
</template>

<script>

export default {
  name: 'Timeline',
  props: {
    timeline: Array,
    record: Object,
    records: Array,
    isFetching: Boolean,
    currentRecordIDX: Number,
    timeline_range: Array
  },
  mounted: function(){
    // console.log(this.$props.timeline)
    // console.log(this.$props.timeline_range)
  },
  watch: {
    record: function(newVal, oldVal) { 
      // console.log(newVal)
    },
    timeline_range: function(newVal, oldVal) { 
      // console.log(newVal)
    }
  }
}
</script>

<style scoped lang="sass">

.slide-fade-enter-active
  transition: all 250ms ease

.slide-fade-leave-active
  transition: all 300ms ease

.slide-fade-enter 
  transform: scale(0.1)
  opacity: 0
.slide-fade-leave-to
  transform: scale(1.5)
  opacity: 0

.container
  font-size: 10px
  font-weight: 600
  min-width: 320px
  width: 500px
  height: 640px
  box-shadow: 0 2px 5px rgba(0,0,0,0.4)
  padding: 0 10px
  background: #263442
  color: #dfdfdf
  .person-name
    font-size: 16px
    font-weight: 700
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 40px
    color: #f9fcff
  .tm-container 
    display: flex
    flex-direction: column
    width: 100%
    height: calc(100% / 34)    
    .tm-century
      display: flex
      justify-content: space-between
      width: 100%  
      .tm-begin
        text-align: right
        min-width: 42px
        width: 100%
        height: 100%
      .tm-end 
        text-align: left
        min-width: 42px
        width: 100%
        height: 100%
      .decade 
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        .decade-pointer 
          width: 3px
          height: 3px
          background: #979696
          border-radius: 50%
          position: relative
          .decade-pointer-indicator 
            position: absolute
            left: -3px
            top: -3px
            width: 10px
            height: 10px
            border-radius: 2px
            background: #ffa600
  
</style>
