<template>
  <div id="app">
    <Timeline 
      :timeline=timeline
      :flat_timeline=timeline_flat
      :record=record
      :records=records
      :currentRecordIDX=currentRecordIDX
      :timeline_range=timeline_range
      />
  </div>
</template>

<script>
import Timeline from './components/Timeline.vue'
import utils from './utils/index'
import data from './utils/dump.json'
import { clearTimeout, setTimeout } from 'timers';

export default {
  name: 'app',
  components: {
    Timeline
  },
  data(){
    return {
      timeline: utils.timeline(),
      timeline_flat: utils.flatten(utils.timeline()),
      records: [],
      record: {},
      currentRecordIDX: null,
      timeline_range: [],
      delay: 1000,
      timeoutSequence: [],
      rollover: false
    }
  },
  
  mounted: async function(){
        
    this.timeline.forEach(async (century, idx) => {
      try {
        let begin = idx === 0 ? -1039 : century[0];
        let end = century[century.length -1]
        return await fetch(`https://dev-util.edyst.com/challenge/person/${begin}?end_yob=${end}`)
          .then(j => j.json())
          .then(res => {
            console.log(res)
            this.records = this.records.concat(res);
            });
      } catch (error) {
        console.log(error);
      }
    });
  },
  watch: {
    records: function(newVal, oldVal) { 
      if (newVal.length > oldVal.length) {
        utils.initTimeouts(this);
      }
        
    },
    currentRecordIDX: function(newVal, oldVal) {
      if(newVal === this.records.length-1){
        // debugger;
        this.rollover = true;
      }
    },
    timeoutSequence: function(newVal, oldVal) {
      if(newVal.length){
        this.rollover = false;
      }
    },
    rollover: function(newVal, oldVal){
      if(newVal === true ){
        setTimeout(()=> {
          this.timeoutSequence = []
          utils.initTimeouts(this);
        }, this.delay)
      }
    }
    }

}
</script>

<style lang="scss">
body {
  background: #2c3e50;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

</style>
